<div *ngIf="isLoading"
     style="display: flex; justify-content: center; align-items: center; background: white;">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</div>

<mat-card *ngIf="!isLoading">
<mat-card-title>
  Admin dashboard
</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item> Total number of employees: {{employees?.length}} people </mat-list-item>
      <mat-list-item> Total worked hours of all employees: {{totalHours}} h </mat-list-item>
      <mat-list-item> Total payment by regular rate for all employees: ${{totalPaidForRegularHours}} </mat-list-item>
      <mat-list-item> Total payment by overtime rate for all employees: ${{totalPaidForOvertimeHours}} </mat-list-item>
      <mat-list-item><button [disabled]="isBulkEditDisabled" mat-raised-button color="primary" (click)="openDialog()">Bulk edit</button></mat-list-item>
    </mat-list>

    <table mat-table [dataSource]="employeesDetail" class="mat-elevation-z8 employee-table">

      <ng-container matColumnDef="employeeId">
        <th mat-header-cell *matHeaderCellDef>Name </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
      </ng-container>

      <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef>Name </th>
        <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
      </ng-container>

      <ng-container matColumnDef="employeeEmail">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element"> {{element.employeeEmail}} </td>
      </ng-container>

      <ng-container matColumnDef="totalWorkedHours">
        <th mat-header-cell *matHeaderCellDef>Total Worked Hours</th>
        <td mat-cell *matCellDef="let element"> {{element.totalWorkedHours}} </td>
      </ng-container>

      <ng-container matColumnDef="totalPaidByRegularRate">
        <th mat-header-cell *matHeaderCellDef>Total Payment By Regular Rate</th>
        <td mat-cell *matCellDef="let element"> {{element.totalPaidByRegularRate}} </td>
      </ng-container>

      <ng-container matColumnDef="totalPaidByOvertimeHours">
        <th mat-header-cell *matHeaderCellDef>Total Payment By Overtime Rate</th>
        <td mat-cell *matCellDef="let element"> {{element.totalPaidByOvertimeHours}} </td>
      </ng-container>

      <ng-container matColumnDef="checked">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let i=index">
          <mat-checkbox (change)="updateCheckedList(element, $event)"></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>

