<h1 mat-dialog-title>Hello there</h1>
<mat-dialog-content>
  <form>
    <mat-card class="shift-card" *ngFor="let employee of data">
      <mat-card-title>
        Employee {{employee.employees.id}}
      </mat-card-title>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile>
            <mat-form-field class="employee-input" appearance="outline">
              <mat-label>Name</mat-label>
              <input
                type="text"
                matInput
                placeholder="Enter employee's name..."
                [value]="employee.employees.name"
                (input)="employee.employees.name=getValue($event)"
              >
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field class="employee-input" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                type="text"
                matInput
                placeholder="Enter employee's email..."
                [value]="employee.employees.email"
                (input)="employee.employees.email=getValue($event)"
              >
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="employee-input" appearance="outline">
              <mat-label>Hourly rate</mat-label>
              <input
                type="text"
                matInput
                placeholder="Enter employee's hourly rate..."
                value="{{employee.employees.hourlyRate}}"
                (input)="employee.employees.hourlyRate = +getValue($event)"
              >
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="employee-input" appearance="outline">
              <mat-label>Overtime rate</mat-label>
              <input
                type="text"
                matInput
                placeholder="Enter employee's overtime rate..."
                value="{{employee.employees.overtimeHourlyRate}}"
                (input)="employee.employees.overtimeHourlyRate = +getValue($event)"
              >
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>

      <h3>
        Shifts
      </h3>

      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input (dateChange)="employee.customShifts = sortShifts($event, employee.shifts.allShifts, employee.shifts.id)" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div class="shift-table-height">
      <table mat-table [dataSource]="employee.customShifts ? employee.customShifts['allShifts'] : employee.shifts.allShifts" class="mat-elevation-z8 shift-table">

        <ng-container matColumnDef="shift">
          <th mat-header-cell *matHeaderCellDef>Shift </th>
          <td mat-cell *matCellDef="let element; index as i"> Shift {{i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="clockIn">
          <th mat-header-cell *matHeaderCellDef>Clock in time </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <input matInput type="datetime-local" (change)="element.clockIn = getValue($event)" [value]="element.clockIn">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="clockOut">
          <th mat-header-cell *matHeaderCellDef>Clock out time</th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field>
              <input matInput type="datetime-local" (change)="element.clockOut = getValue($event)" [value]="element.clockOut">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="totalWorkedHours">
          <th mat-header-cell *matHeaderCellDef>Total time</th>
          <td mat-cell *matCellDef="let element"> {{getTimeDifference(element.clockIn, element.clockOut)}}h</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      </div>
    </mat-card>
  </form>
<div mat-dialog-actions class="shift-actions">
  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave(data)">Save</button>
</div>
</mat-dialog-content>
