.shift {
  &-table {
    width: 100%;
    &-height {
      max-height: 300px;
      overflow: auto;
    }
  }
  &-actions {
    justify-content: flex-end;
    position: sticky;
    bottom: 0px;
    background-color: lightgray;
    padding-right: 5px;
    border-radius: 5px;
  }
  &-card {
    margin-bottom: 20px;
  }
}

.time {
  display: inline-flex;
}

.timepicker-overlay {
  z-index: 1001;
}
